body {
  background-color: #006466;
  color: #000000;
  font-weight: bold;
}

h1, h2, h3 {
  color: #ffffff;
  text-shadow: 3px 3px #000000;
}

h1 {
  padding-top: 10px;
  font-size: 42px;
}

#form-destiny {
  margin: auto;
  padding: 10px;
  background-color: #008C8F;
  box-shadow: 6px 6px #144552;
}

.learn-js, .learn-ruby, .learn-csharp, .learn-python {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #3E143E;
  color: #ffffff;
  box-shadow: 6px 6px #272640;
}

.submitBtn {
  margin-top: 6px;
  background-color: #ffffff;
  color: #000000;
}

.submitBtn:hover {
  background-color: #6C236C;
  color: #ffffff;
}

.submitBtn:active {
  background-color: #272640;
}