body {
  background-color: #006466;
  color: #000000;
}

h1, h2, h3 {
  color: #ffffff;
  text-shadow: 3px 3px #000000;
}

.learn-js, .learn-ruby, .learn-python {
  display: none;
}

.submitBtn {
  margin-top: 6px;
  background-color: #ffffff;
  color: #000000;
}

.submitBtn:hover, .submitBtn:active {
  background-color: #4D194D;
  color: #ffffff;
}
