body {
  background-color: #006466;
  color: #000000;
}

h1, h2, h3 {
  color: #ffffff;
  text-shadow: 3px 3px #000000;
}

.learn-js, .learn-ruby, .learn-python {
  display: none;
}

.submitBtn {
  margin-top: 6px;
  background-color: #ffffff;
  color: #000000;
}

.submitBtn:hover, .submitBtn:active {
  background-color: #6C236C;
  color: #ffffff;
}

.submitBtn:active {
  background-color: #272640;
}

.learn-js, .learn-ruby, .learn-python {
  margin-top: 10px;
  padding: 10px;
  background-color: #3E143E;
  color: #ffffff;
  box-shadow: 6px 6px #272640;
}